# SMTP Configuration for Contact Form
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
# Use 'true' for port 465, 'false' for 587
SMTP_SECURE=false 
SMTP_USER=work.vaze@gmail.com
SMTP_PASS=your-app-specific-password
SMTP_FROM=work.vaze@gmail.com

VITE_GOOGLE_ANALYTICS_ID=
